include LICENSE README.md README.en.md REFERENCES.md CONTRIBUTING.md SECURITY.md CHANGELOG.md CITATION.cff
recursive-include docs *.md
recursive-include examples *.urdf
recursive-include tests *.py
recursive-include scripts *.py
include .pre-commit-hooks.yaml
